################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet_2024_2025/Projet_2024_2025/out/build/x64-Debug
/.vs
