################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projet_2024_2025/traffic_light/out/build/x64-Debug
/Projet_2024_2025/traffic_light/.vs
/Projet_2024_2025/Projet_2024_2025/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdC
/Projet_2024_2025/Projet_2024_2025/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX
/Projet_2024_2025/Projet_2024_2025/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4
/Projet_Delasalle_Martel/out/build/x64-Debug
/Projet_Delasalle_Martel/.vs
/Projet_2024_2025/Projet_2024_2025/.vs
/Projet_Delasalle_Martel/CMakeProject1/.vs
/Projet_Delasalle_Martel/fichier/CMakeLists.txt
/Projet_Delasalle_Martel/fichier/CMakePresets.json
/Projet_Delasalle_Martel/fichier/.vs
/Projet_Delasalle_Martel/fichier/out/build/x64-debug
/Projet_Delasalle_Martel/fichier/cppfiles/CMakeLists.txt
/Projet_2024_2025/Projet_2024_2025/out/build/x64-Debug
