################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projet_2024_2025/traffic_light/out/build/x64-Debug
/Projet_2024_2025/traffic_light/.vs
